.productPresentationContainer {
	display: flex;
	gap: 0 0.5rem;
	height: 70vh;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.productPresentation {
	display: flex;
	flex-direction: column;
	width: 81vw;
	height: 63vh;

	h1 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
}

.pp-purchase {
	display: flex;
	width: 81vw;
	height: 60vh;
}

.pp-p-visualize {
	width: 40.5vw;
	height: 60vh;
}

.pp-pv-additionalInfo {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 10%;
	justify-content: space-between;
	align-items: center;

	.ai-brand {
		display: flex;
		justify-content: center;
	}

	.ai-starIcons {
		display: flex;
		justify-content: center;

		svg {
			width: 1rem;
			height: 1rem;
		}
	}

	.ai-shareIcons {
		display: flex;
		justify-content: center;

		svg {
			width: 1.5rem;
			height: 1.5rem;
			stroke: black;
			fill: transparent;
		}
	}
}

.pp-pv-images {
	display: flex;
	height: 70%;
	width: 40.5vw;

	.images-miniIcons {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 10%;

		img {
			padding: 0.3rem 0.2rem;
			border: 1px solid #d2d2d2;
			border-radius: 3px;
			object-fit: cover;

			&:active {
				border: 1px solid black;
			}
		}
	}

	.productImg {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		img {
			width: 65%;
			height: auto;
		}
	}
}

.pp-pv-shipping {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 20%;
	gap: 0.5rem 0;

	p {
		font-weight: bold;
		font-size: 1rem;
	}

	div {
		display: flex;
		align-items: center;

		input {
			border: #d2d2d2 1px solid;
			height: 3rem;
			width: 15rem;
			border-radius: 3px;
			margin-right: 0.7rem;
			padding-left: 1rem;
		}

		button {
			height: 3rem;
			padding: 0 0.8rem;
			font-size: 1.1rem;
			text-transform: uppercase;
			font-weight: bold;
			color: #ff6500;
			background-color: transparent;
			border-radius: 3px;
			border: 1px solid #ff6500;
			margin-right: 0.7rem;
		}
	}

	a {
		color: #ff6500;
		text-decoration: underline;
		font-weight: bold;
		font-size: 0.7rem;
	}
}

.pp-p-purchaseCallback {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 40.5vw;
	height: 60vh;
}

.pc-firstContainer {
	display: flex;
	justify-content: space-between;
	height: 60%;
	padding: 1.5rem 0 0rem 0;
}

.pc-fc-price {
	display: flex;
	flex-direction: column;
	gap: 1.5rem 0;
	color: rgb(86, 92, 105);
	font-size: 0.9rem;
	width: 20rem;

	div {
		display: flex;
		flex-direction: column;
		gap: 0.5rem 0;

		p {
			:nth-child(2) {
				color: #1f9050;
			}
		}

		.pc-price {
			font-size: 2.5rem;
			font-weight: bold;
			color: #ff6500;
		}
	}

	:nth-child(2) {
		span {
			text-decoration: underline;
		}
	}
}

.pc-fc-buy-button {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		background-color: #ff6500;
		outline: none;
		padding: 1rem 5rem;
		border: none;
		border-radius: 3px;
		font-size: 1.3rem;
		text-transform: uppercase;
		font-weight: bold;
		gap: 0 0.5rem;

		svg {
			width: 1.3rem;
			height: 1.3rem;

			path {
				fill: white;
			}
		}
	}
}

.pc-secondContainer {
	display: flex;
	flex-direction: column;
	height: 40%;
	justify-content: space-between;

	.pc-sc-title {
		display: flex;
		gap: 0 0.5rem;

		p {
			font-size: 1rem;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}

.sp-container {
	display: flex;
	position: relative;
	overflow: hidden;

	button {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 2.5rem;
		height: 2.5rem;
		border: 1px solid #a1a1a1;
		outline: none;
		background-color: transparent;
		border-radius: 50%;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;

		svg {
			width: 1rem;
			height: 1rem;
		}
	}

	& :first-child {
		left: -2rem;
	}
	& :last-child {
		right: -2rem;
	}
}

.sp-wrapper {
	display: flex;
	width: 100%;
	height: 100%;
	gap: 0 1rem;
}

.sp-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 10.5rem;
	width: 9.5rem;
	cursor: pointer;

	div {
		height: 8.5rem;
		width: 8.5rem;
		user-select: none;
		img {
			pointer-events: none;
			user-select: none;
			object-fit: cover;
		}
	}

	p {
		color: #ff6500;
		font-weight: bold;
		font-size: 1.3rem;
	}
}

@media (max-width: 1600px) {
	.productPresentationContainer {
		height: 80vh;
	}

	.productPresentation {
		height: 75vh;
		width: 95vw;
	}

	.pp-purchase {
		width: 95vw;
		height: 100%;
	}

	.pp-pv-additionalInfo {
	}

	.pp-p-visualize {
		width: 47.5vw;
		height: 100%;
	}

	.pp-pv-images {
		height: 70%;
		width: 100%;

		.productImg {
			img {
				width: 55%;
			}
		}
	}

	.pp-p-purchaseCallback {
		height: 100%;
		width: 47.5vw;
	}

	.pc-secondContainer {
	}

	.sp-wrapper {
		gap: 0 3rem;
	}

	.sp-card {
		height: 9.5rem;
		width: 8.5rem;

		div {
			height: 7rem;
			width: 7rem;
		}
	}
}

@media (max-width: 1450px) {
}

@media (max-width: 1200px) {
	.productPresentationContainer {
		height: 80vh;
	}

	.productPresentation {
		height: 75vh;
		width: 96vw;
	}

	.pp-purchase {
		width: 95vw;
		height: 100%;
	}

	.pp-p-visualize {
		width: 60%;
		height: 100%;
	}
	.pp-pv-additionalInfo {
	}

	.pp-pv-images {
		height: 70%;
		width: 100%;

		.images-miniIcons {
			width: 15%;
		}

		.productImg {
			img {
				width: 80%;
			}
		}
	}

	.pp-p-purchaseCallback {
		height: 100%;
		width: 40%;
		// background-color: bisque;
		justify-content: space-between;
	}

	.pc-firstContainer {
		height: 80%;
		flex-direction: column;
		// background-color: red;
		justify-content: space-between;
		align-items: start;
	}

	.pc-secondContainer {
		// background-color: blue;
		padding-top: 2rem;
		justify-content: space-between;

		.pc-sc-title {
			align-self: flex-end;
		}

		span {
			align-self: flex-end;
		}
	}

	.pp-pv-shipping {
		// background-color: red;
	}

	.sp-wrapper {
		gap: 0 4rem;
		// background-color: red;
	}

	.sp-card {
		height: 9rem;
		width: 8rem;

		div {
			height: 6.5rem;
			width: 6.5rem;
		}
	}
}
@media (max-width: 1025px) {
	.productPresentationContainer {
		height: 85vh;
	}

	.productPresentation {
		height: 80vh;
		width: 95vw;
	}

	.pp-purchase {
		width: 95vw;
		height: 100%;
	}

	.pp-pv-additionalInfo {
	}

	.pp-p-visualize {
		width: 47.5vw;
		height: 100%;
	}

	.pp-pv-images {
		height: 70%;
		width: 100%;

		.images-miniIcons {
			width: 20%;
		}

		.productImg {
			img {
				width: 75%;
			}
		}
	}

	.pp-p-purchaseCallback {
		height: 100%;
		width: 47.5vw;
	}

	.sp-wrapper {
		gap: 0 2rem;
	}

	.pc-secondContainer {
		padding-top: initial;
	}

	.sp-card {
		height: 8.5rem;
		width: 7.5rem;

		div {
			height: 6rem;
			width: 6rem;
		}

		p {
			font-size: 1rem;
		}
	}
}

@media (max-width: 900px) {
	.productPresentationContainer {
		height: 80vh;
	}

	.productPresentation {
		height: 75vh;
		width: 96vw;
	}

	.pp-purchase {
		width: 95vw;
		height: 100%;
	}

	.pp-p-visualize {
		width: 65%;
		height: 100%;
	}
	.pp-pv-additionalInfo {
	}

	.pp-pv-images {
		height: 70%;
		width: 100%;

		.images-miniIcons {
			width: 20%;
		}

		.productImg {
			img {
				width: 80%;
			}
		}
	}

	.pp-p-purchaseCallback {
		height: 100%;
		width: 35%;
		justify-content: space-between;
	}

	.pc-firstContainer {
		height: 80%;
		flex-direction: column;
		justify-content: space-between;
		align-items: start;
	}

	.pc-fc-buy-button {
		align-self: flex-end;
	}

	.pc-secondContainer {
		padding-top: 2rem;
		justify-content: space-between;

		.pc-sc-title {
			align-self: flex-end;
		}

		span {
			align-self: flex-end;
		}
	}

	.sp-wrapper {
		gap: 0 2rem;
	}

	.sp-card {
		height: 9rem;
		width: 8rem;

		div {
			height: 6.5rem;
			width: 6.5rem;
		}
	}
}
@media (max-width: 600px) {
	.productPresentationContainer {
		width: 100%;
		height: auto;
		padding: 0.8rem 0.8rem;
	}

	.productPresentation {
		width: 100%;
		height: auto;

		h1 {
			font-size: 1rem;
		}
	}

	.pp-purchase {
		width: auto;
		height: auto;
		flex-direction: column;
	}

	.pp-p-visualize {
		width: 100%;
	}

	.pp-pv-additionalInfo {
		height: 3.5rem;
		width: 100%;

		.ai-shareIcons {
			gap: 0 1rem;
			svg {
				width: 1rem;
				height: 1rem;
			}
		}
		.ai-starIcons {
			align-items: center;
			justify-content: center;
			gap: 0 0.2rem;
			svg {
				width: 0.8rem;
				height: 0.8rem;
			}

			p {
				font-size: 0.7rem;
			}
		}
	}

	.pp-pv-images {
		align-items: center;
		flex-direction: column-reverse;
		gap: 1rem 0;

		.images-miniIcons {
			flex-direction: row;
			align-items: center;
			justify-content: center;
			height: 3rem;
			width: 100%;
			gap: 0 1rem;

			img {
				width: 10%;
				height: 70%;
			}
		}
	}

	.pp-p-purchaseCallback {
		height: auto;
		width: 100%;
	}

	.pc-firstContainer {
		height: 100%;
		justify-content: initial;
		align-items: center;
		padding: 1rem 0 0 0;
	}

	.pc-fc-price {
		width: 100%;

		.fc-p-firstDiv {
			align-items: center;
			align-content: center;

			.fc-p-firsRow {
				font-size: 0.8rem;
				padding-bottom: 0.5rem;
			}
			.pc-price {
				align-self: flex-start;
			}

			span {
				align-self: flex-start;
			}
		}
	}

	.mobile-shipping {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 20%;
		gap: 0.5rem 0;
		padding: 2rem 0;

		p {
			font-weight: bold;
			font-size: 0.8rem;
		}

		div {
			display: flex;
			align-items: center;

			input {
				border: #d2d2d2 1px solid;
				height: 3rem;
				width: 19.5rem;
				border-radius: 3px;
				margin-right: 0.7rem;
				padding-left: 1rem;
			}

			button {
				height: 3rem;
				padding: 0 0.8rem;
				font-size: 1.1rem;
				text-transform: uppercase;
				font-weight: bold;
				color: #ff6500;
				background-color: transparent;
				border-radius: 3px;
				border: 1px solid #ff6500;
				margin-right: 0.7rem;
			}
		}

		a {
			color: #ff6500;
			text-decoration: underline;
			font-weight: bold;
			font-size: 0.7rem;
		}
	}

	.mobile-buyButton {
		display: flex;
		gap: 0 0.7rem;

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;
			background-color: #ff6500;
			outline: none;
			padding: 1rem 7.4rem;
			border: none;
			border-radius: 3px;
			font-size: 1.3rem;
			text-transform: uppercase;
			font-weight: bold;
			gap: 0 0.5rem;

			svg {
				width: 1.3rem;
				height: 1.3rem;

				path {
					fill: white;
				}
			}
		}

		.addCartButton {
			background-color: transparent;
			border: 1px solid #ff6500;
			padding: 1rem;

			svg {
				stroke: #ff6500;
				width: 1.2rem;
				height: 1.2rem;

				path {
					fill: #ff6500;
				}
			}
		}
	}

	.pp-pv-shipping {
		display: none;
	}

	.pc-fc-buy-button {
		display: none;
	}

	.pc-secondContainer {
		height: auto;
		gap: 1.3rem 0;

		.pc-sc-title {
			align-self: flex-start;
		}

		span {
			align-self: flex-start;
		}
	}

	.sp-container {
		button {
			display: none;
		}
	}
}

@media (max-width: 400px) {
	.mobile-shipping {
		div {
			input {
				width: 17rem;
			}
		}
	}

	.mobile-buyButton {
		button {
			padding: 1rem 6.25rem;
		}
	}
}
@media (max-width: 360px) {
	.mobile-shipping {
		div {
			input {
				width: 16rem;
			}
		}
	}

	.mobile-buyButton {
		button {
			padding: 1rem 5.75rem;
		}
	}
}
