.productCatalogPage {
	display: flex;
	justify-content: center;
	min-width: 100%;
	min-height: 100vh;
	background-color: #fafafb;
}

.pCatalogContainer {
	width: 80.5vw;
	height: 100rem;
}

.pCatalogHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 8%;
	width: 100%;

	.pch-search {
		display: flex;

		input {
			outline: none;
			border: #d1d1d1 1px solid;
			height: 3.25rem;
			width: 14rem;
			border-right: none;
			border-radius: 3px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			padding-left: 1rem;
			font-size: 1.1rem;
		}

		button {
			border: none;
			outline: none;
			height: 3.25rem;
			border-left: none;
			background-color: white;
			border-radius: 3px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			border: 1px solid #d1d1d1;
			border-left: none;

			svg {
				width: 1.2rem;
				height: 1.2rem;
			}
		}
	}

	.pch-order {
		display: flex;
		gap: 0 0.5rem;
		align-items: center;

		svg {
			width: 1.2rem;
			height: 1.2rem;
		}

		p {
			font-size: 1.1rem;
			font-weight: bold;
		}

		select {
			outline: none;
			border: #d1d1d1 1px solid;
			height: 3rem;
			width: 17rem;
			border-radius: 3px;
			padding: 0 0.5rem;
			font-size: 1.1rem;

			option {
				font-size: 1.1rem;
			}
		}
	}

	.pch-view {
		display: flex;
		align-items: center;
		gap: 0 0.5rem;

		p {
			font-size: 1.1rem;
			font-weight: bold;
		}

		select {
			outline: none;
			border: #d1d1d1 1px solid;
			height: 3rem;
			width: 17rem;
			border-radius: 3px;
			padding: 0 0.5rem;
			font-size: 1.1rem;

			option {
				font-size: 1.1rem;
			}
		}
	}

	.pch-orderIcon {
		display: flex;
		align-items: center;
		gap: 0 0.5rem;
	}
}

.pCatalogMain {
	width: 100%;
	height: 100%;
	background-color: pink;
}

.pCatalogFilter {
	width: 20%;
	height: 100%;
	border: 1px solid black;

	.pcf-header {
		display: flex;
		gap: 0 0.5rem;
		font-weight: bold;
		font-size: 1.1rem;

		svg {
			width: 1.1rem;
			height: 1.1rem;
		}
	}

	.pcf-main {
		display: flex;
		flex-direction: column;
		margin: 0.5rem;
		padding: 0.5rem;
		background-color: white;
		gap: 1.5rem 0;

		.pcf-filterCheckbox {
			display: flex;
			flex-direction: column;
			gap: 1rem 0;

			p {
				font-size: 1.1rem;
				font-weight: bold;
			}

			.checkboxContainer {
				display: flex;
				align-items: center;
				gap: 0 0.3rem;

				input {
					width: 1.3rem;
					height: 1.3rem;
					cursor: pointer;
				}

				label {
					font-size: 1.2rem;
					cursor: pointer;
				}
			}
		}
	}
}
