.cartContainer {
	position: fixed;
	backdrop-filter: brightness(0.5);
	z-index: 5;
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
}

.cart {
	display: grid;
	grid-template-rows: 10% 65% 25%;
	background-color: #f2f3f4;
	padding: 1rem 1.5rem;
	width: 30vw;
	height: 100%;
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
}

.cartEmpty {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0060b1;
	color: white;
	padding: 1rem;
	width: 25vw;
	height: 100%;
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;

	div {
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;

		p {
			font-size: 1.2rem;
		}
	}
}

.cartHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;

	div {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		span {
			cursor: pointer;
			padding: 0.3rem 0.5rem;
			color: white;
			background-color: #dc5e5e;

			&:hover {
				background-color: red;
			}
		}
	}

	p {
		font-size: 1.3rem;
		font-weight: bold;
	}

	svg {
		width: 4rem;
		height: 3rem;
		border: none;
		outline: none;
		cursor: pointer;
	}
}

.cartMain {
	display: flex;
	flex-direction: column;
	gap: 1.5rem 0;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 0px;
	}
}

.cartFooter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	button {
		padding: 1.2rem 2.5rem;
		border: none;
		outline: none;
		border-radius: 3px;
		font-size: 1.1rem;
		background-color: #ff6500;
		font-weight: bold;
		color: white;
		text-transform: uppercase;
	}

	div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		height: 7rem;
		color: #1f9050;
		background-color: #e5fff1;
		font-size: 2rem;
		font-weight: bold;
		padding: 1rem 3rem;

		span {
			font-weight: normal;
			font-size: 0.9rem;
		}
	}
}

.cartCard {
	display: flex;
	flex-direction: column;
	background-color: white;
	height: auto;
	padding: 0.9rem;
	border-radius: 3px;
	gap: 1.5rem 0;
	transition: 0.3s ease-in-out;

	p {
		font-size: 1.3rem;
	}

	&:hover {
		.CC-removeButton {
			display: flex;
			align-items: flex-end;
			width: auto;
			font-size: 1.1rem;
			background-color: transparent;
			outline: none;
			border: none;
			padding: 1rem 0 0 0;
			color: #dc5e5e;
			transition: 0.3 ease-in-out;

			&:hover {
				color: red;

				svg {
					stroke: red;
				}
			}
		}
	}
}

.CC-Info {
	display: flex;
	justify-content: space-between;

	.CC-Quantity {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 8rem;

		span {
			font-size: 1.3rem;
		}

		input {
			width: 3rem;
			font-size: 1.2rem;
		}

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: transparent;
			border: none;
			outline: none;

			svg {
				fill: #ff6500;
				width: 1.2rem;
				height: 1.2rem;
			}
		}
	}

	p {
		color: #ff6500;
	}
}

.CC-removeButton {
	display: none;

	svg {
		width: 1.4rem;
		height: 1.55rem;
	}
}

@media (max-width: 1600px) {
	.cart {
		grid-template-rows: 10% 60% 30%;
	}

	.cartFooter {
		justify-content: space-evenly;
	}

	.cartCard {
		p {
			font-size: 1rem;
		}

		&:hover {
			.CC-removeButton {
				gap: 0 0.3rem;
				font-size: 0.9rem;

				svg {
					width: 0.8rem;
					height: 1rem;
				}
			}
		}
	}

	.CC-Info {
		.CC-Quantity {
			width: 5.5rem;
		}
	}
}

@media (max-width: 1450px) {
	.cart {
		width: 32vw;
	}
}

@media (max-width: 1200px) {
	.cart {
		width: 40vw;
	}
}

@media (max-width: 1025px) {
}

@media (max-width: 900px) {
	.cart {
		padding: 0rem 1rem;
	}
	.cart {
		width: 55vw;
	}
}
@media (max-width: 600px) {
	.cart {
		width: 100vw;
		padding: 1rem 1.5rem 2rem 1.5rem;
		justify-content: center;
		grid-template-rows: 10% 55% 35%;
	}

	.cartFooter {
		align-items: center;
	}
}

@media (max-width: 400px) {
	.cart {
		width: 100vw;
	}
	.cartFooter {
		div {
			font-size: 1.5rem;
			padding: 0.3rem 2rem;
			height: 5rem;
		}

		button {
			padding: initial;
			font-size: 1rem;
			padding: 0.5rem 0.8rem;
		}
	}
}
