.productPage {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 7rem);
	height: auto;
	background-color: #f2f3f4;
}

.productPresentationContainer {
	display: flex;
	gap: 0 0.5rem;
	height: 70vh;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.productPresentation {
	display: flex;
	flex-direction: column;
	width: 81vw;
	height: 63vh;

	h1 {
		font-size: 1.5rem;
	}
}

.pp-purchase {
	display: flex;
	height: 100%;
}

.pp-p-visualize {
	width: 50%;
}

.pp-pv-additionalInfo {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 10%;
	justify-content: space-between;
	align-items: center;

	.ai-brand {
		display: flex;
		justify-content: center;
	}

	.ai-starIcons {
		display: flex;
		justify-content: center;

		svg {
			width: 1rem;
			height: 1rem;
		}
	}

	.ai-shareIcons {
		display: flex;
		justify-content: center;

		svg {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}

.pp-pv-images {
	display: flex;
	height: 75%;

	.images-miniIcons {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 10%;

		img {
			padding: 0.3rem 0.2rem;
			border: 1px solid #d2d2d2;
			border-radius: 3px;

			&:active {
				border: 1px solid black;
			}
		}
	}

	.productImg {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		// background-color: red;

		img {
			width: 65%;
			height: auto;

			&:hover {
			}
		}
	}
}

.pp-pv-shipping {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 15%;
	gap: 0.5rem 0;

	p {
		font-weight: bold;
		font-size: 1rem;
	}

	div {
		display: flex;
		align-items: center;

		input {
			border: #d2d2d2 1px solid;
			height: 3rem;
			width: 15rem;
			border-radius: 3px;
			margin-right: 0.7rem;
			padding-left: 1rem;
		}

		button {
			height: 3rem;
			padding: 0 0.8rem;
			font-size: 1.1rem;
			text-transform: uppercase;
			font-weight: bold;
			color: #ff6500;
			background-color: transparent;
			border-radius: 3px;
			border: 1px solid #ff6500;
			margin-right: 0.7rem;
		}

		a {
			color: #ff6500;
			text-decoration: underline;
			font-weight: bold;
		}
	}
}

.pp-p-purchaseCallback {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 50%;
}

.pc-firstContainer {
	display: flex;
	justify-content: space-between;
	height: 60%;
	padding: 1.5rem 0 0rem 0;
}

.pc-fc-price {
	display: flex;
	flex-direction: column;
	gap: 1.5rem 0;
	color: rgb(86, 92, 105);
	font-size: 0.9rem;

	div {
		display: flex;
		flex-direction: column;
		gap: 0.5rem 0;

		p {
			:nth-child(2) {
				color: #1f9050;
			}
		}

		.pc-price {
			font-size: 2.5rem;
			font-weight: bold;
			color: #ff6500;
		}
	}

	:nth-child(2) {
		span {
			text-decoration: underline;
		}
	}
}

.pc-fc-buy-button {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		background-color: #ff6500;
		outline: none;
		padding: 1rem 5rem;
		border: none;
		border-radius: 3px;
		font-size: 1rem;
		text-transform: uppercase;
		font-weight: bold;
		gap: 0 0.5rem;

		svg {
			width: 1.3rem;
			height: 1.3rem;

			path {
				fill: white;
			}
		}
	}
}

.pc-secondContainer {
	display: flex;
	flex-direction: column;
	height: 40%;
	justify-content: space-between;

	.pc-sc-title {
		display: flex;
		gap: 0 0.5rem;

		p {
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.pc-sc-similarProducts {
		display: flex;
		flex-direction: row;
		gap: 0 1rem;

		div {
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 0.5rem 0;

			img {
				width: 85%;
			}

			p {
				font-weight: bold;
				color: #ff6500;
				text-transform: uppercase;
				font-size: 1.2rem;
			}
		}
	}
}
