@import './BuySection/BuySection.scss';
@import './DescriptionSection/DescriptionSection.scss';
@import './TechnicalInformationSection/TechnicalInfo.scss';

.productPage {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 7rem);
	height: auto;
	background-color: #f2f3f4;
	gap: 3.5rem 0;
}
