.popup {
	display: flex;
	justify-content: center;
	padding: 1rem;
	background-color: white;
	position: fixed;
	top: 0;
	right: 50%;
	transform: translateX(50%);
	z-index: 50;
	background-color: #55ca92;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	font-size: 0.9rem;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	transition: 0.5s ease-in-out;
}

@media (max-width: 1025px) {
	.popup {
		width: 50vw;
	}
}
@media (max-width: 800px) {
	.popup {
		width: 60vw;
	}
}

@media (max-width: 600px) {
	.popup {
		width: 90vw;
	}
}
