@import './Address/AddressModal.scss';

.cartPage {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	background-color: #f2f3f4;
}

.cartPageSection {
	display: flex;
	width: 82vw;
	padding: 1rem 0;
}

.cps-cartInfo {
	display: flex;
	flex-direction: column;
	width: 75%;
	padding: 1rem;
	gap: 2rem 0;

	.ci_address-container {
		display: flex;
		flex-direction: column;
		padding: 1rem;
		gap: 1.5rem 0;
		background-color: white;
		border-radius: 5px;

		.ci_address-title {
			display: flex;
			align-items: center;
			gap: 0 0.5rem;

			p {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.4rem;
			}
		}

		.ci_address-card {
			display: flex;
			flex-direction: column;
			padding: 1rem 1.5rem;
			gap: 0.7rem 0;
			border-left: 4px solid #ff6500;
			border-radius: 5px;
			background-color: #f2f3f4;

			.address-card-fc {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 0.7rem 0;
			}

			.address-card-sc {
				display: flex;
				gap: 0 0.5rem;
				align-self: flex-end;

				:nth-child(2) {
					color: #ff6500;
				}

				button {
					text-transform: uppercase;
					font-weight: bold;
					height: 2rem;
					outline: none;
					border: none;
					color: #c2c2c2;
					background-color: transparent;
				}
			}
		}
	}
}

.cps-cartResume {
	padding: 1rem 2rem;
	width: 25%;

	.cr_card {
		display: flex;
		flex-direction: column;
		background-color: white;
		padding: 2rem 2rem;
		border-radius: 5px;
		gap: 1.5rem 0;

		p {
			font-size: 0.9rem;
		}

		.crc_title {
			display: flex;
			align-items: center;
			gap: 0 0.5rem;

			p {
				font-size: 1.4rem;
				font-weight: bold;
				text-transform: uppercase;
			}
		}

		.crc_infoContainer {
			display: flex;
			flex-direction: column;
			gap: 1.5rem 0;

			.crc-if-cartValue {
				display: flex;
				justify-content: space-between;
				border-bottom: 1px solid #d2d2d2;
				padding: 0 0 1rem 0;
			}

			.crc-if-shipping {
				display: flex;
				justify-content: space-between;
			}

			.crc-if-longPrice {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				gap: 1rem 0;
				background-color: #f5f5f5;
				padding: 0.5rem 0.2rem;
				border-radius: 3px;
				// margin: 0.5rem;

				div {
					display: flex;
					justify-content: space-between;
					width: 100%;
					font-size: initial;
				}

				p {
					font-size: 0.8rem;
				}
			}

			.crc-if-discountBox {
				display: flex;
				align-items: center;
				flex-direction: column;
				gap: 0.8rem 0;
				background-color: #e5fff1;
				padding: 1rem 0;

				p {
					font-size: 0.9rem;

					strong {
						font-size: 0.9rem;
					}
				}

				strong {
					font-size: 1.7rem;
					color: #1f9050;
				}
			}

			.crc-if-buttons {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 1rem 0;

				:nth-child(1) {
					background-color: #ff6500;
					color: white;
				}
				:nth-child(2) {
					background-color: transparent;
					color: #ff6500;
					border: 1px solid #ff6500;
				}

				button {
					width: 100%;
					height: 3rem;
					text-transform: uppercase;
					font-weight: bold;
					div {
						p {
							font-size: 1.2rem;
						}
					}
					border: none;
					outline: none;
					border-radius: 3px;
				}
			}
		}
	}
}

.ci_products-container {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 1.5rem 0;
	background-color: white;
	border-radius: 5px;
	z-index: 1000;

	.cip-title {
		display: flex;
		justify-content: space-between;

		div {
			display: flex;
			align-items: center;
			gap: 0 0.5rem;

			p {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.4rem;
			}
		}

		button {
			display: flex;
			align-items: center;
			background-color: transparent;
			outline: none;
			border: 1px solid rgb(231, 38, 38);
			color: rgb(231, 38, 38);
			height: 2rem;
			border-radius: 3px;
			gap: 0 0.5rem;
			padding: 0.5rem;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 0.9rem;

			svg {
				width: 1rem;
				height: 1rem;
			}
		}
	}

	.cip-products {
		display: flex;
		flex-direction: column;
		gap: 1rem 0;

		.cip-cartProductCard {
			display: flex;
			justify-content: space-between;
			padding: 1rem;
			border-bottom: 1px solid #f2f2f2;

			.cpc-firstContainer {
				display: flex;
				width: 65%;
				gap: 0 0.5rem;

				img {
					width: 8rem;
					height: 8rem;
				}

				.cpc-fc-productInfo {
					display: flex;
					flex-direction: column;
					gap: 0.8rem 0;

					span {
						color: #a1a1a1;
						font-size: 0.9rem;
					}

					div {
						display: flex;
						flex-direction: column;
						gap: 0.4rem 0;

						p {
							font-size: 0.9rem;
							color: #a1a1a1;

							strong {
								color: black;
							}
						}
					}
				}
			}

			.cpc-secondContainer {
				display: flex;
				width: 35%;
				justify-content: space-between;
				padding-left: 1rem;

				.cpc-quantity {
					display: flex;
					flex-direction: column;
					gap: 1.5rem 0;
					align-items: center;

					input {
						width: 2rem;
						border: 1px solid #d1d1d1;
					}

					div {
						display: flex;
						gap: 0 1rem;
						align-items: center;
						justify-content: space-between;

						svg {
							width: 1rem;
							height: 1rem;
							cursor: pointer;
							fill: #ff6500;
						}
					}

					button {
						display: flex;
						// align-items: baseline;
						gap: 0 0.3rem;
						font-size: 0.7rem;
						background-color: transparent;
						border: none;
						outline: none;
						padding: 0.5rem 1rem;
						color: rgb(231, 38, 38);
						font-weight: bold;
						text-transform: uppercase;
					}
				}

				.cpc-endPrice {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					gap: 1rem 0;

					p {
						color: #a2a2a2;
						font-size: 0.9rem;
					}

					span {
						font-size: 1.2rem;
						text-transform: uppercase;
						font-weight: bold;
						color: #ff6500;
					}
				}
			}
		}

		svg {
			width: 1rem;
			height: 1rem;
		}
	}
}

.mobileResume {
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem 0;
	width: 100vw;
	min-height: 3rem;
	height: auto;
	position: fixed;
	background-color: white;
	bottom: 0;
	box-shadow: 0 7px 1rem black;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	z-index: 1500;

	.mr-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 1.5rem;

		div {
			display: flex;
			align-items: center;
			font-size: 0.9rem;
			font-weight: bold;
			text-transform: uppercase;
			gap: 0 0.5rem;
			margin-top: auto;

			svg {
				transition: 0.5s ease-in-out;
				width: 1rem;
				height: 1rem;
			}
		}
	}

	.mr-content {
		display: flex;
		justify-content: space-between;
		min-height: 10rem;
		padding: 0.5rem;

		.mrc-prices {
			display: flex;
			flex-direction: column;
			gap: 1rem 0;
			width: 50%;

			.mrc-cartValue {
				padding-bottom: 1rem;
				border-bottom: 1px solid #e2e2e2;
			}

			div {
				display: flex;
				justify-content: space-between;

				p {
					font-size: 0.8rem;
				}

				span {
					font-weight: bold;
				}
			}

			.mrcp-finalCont {
				display: flex;
				flex-direction: column;
				gap: 0.5rem 0;
				background-color: #f2f2f2;
				padding: 0.2rem;

				p {
					align-self: flex-end;
					font-size: 0.8rem;
				}
			}
		}

		.mrc-finalPrice {
			display: flex;
			justify-content: flex-end;
			width: 50%;

			div {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 90%;
				height: 80%;
				background-color: #e5fff1;
				color: #1f9050;
				gap: 0.5rem 0;

				p {
					font-size: 0.8rem;
				}

				strong {
					font-size: 1.8rem;
				}

				span {
					font-size: 0.9rem;
				}
			}
		}

		button {
			outline: none;
			border: none;
			height: 2.5rem;
			text-transform: uppercase;
			font-size: 1rem;
			background-color: #ff6500;
			color: white;
			font-weight: bold;
		}
	}

	.mr-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 50%;
		width: 2rem;
		height: 2rem;
		transform: translateX(50%);
		top: -0.8rem;
		border-radius: 100%;
		background-color: white;

		svg {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}

@media (max-width: 1600px) {
	.cartPageSection {
		width: 100%;
	}

	.cps-cartResume {
		padding: 1rem;
	}
}
@media (max-width: 1450px) {
	.cps-cartInfo {
		width: 70%;
	}

	.cps-cartResume {
		width: 30%;
	}
}

@media (max-width: 1200px) {
	.cps-cartResume {
		.cr_card {
			.crc_infoContainer {
				.crc-if-buttons {
					button {
						font-size: 1.1rem;
					}
				}
			}
		}
	}
}

@media (max-width: 1025px) {
	.cps-cartInfo {
		width: 100%;
	}

	.cps-cartResume {
		display: none;
	}

	.cip-products {
		.cip-cartProductCard {
			.cpc-firstContainer {
				img {
					width: 6rem;
					height: 6rem;
				}
			}
		}
	}
}

@media (max-width: 900px) {
	.cps-cartInfo {
		padding: initial;

		.ci_address-container {
			padding: 1rem;
		}
	}
	.ci_products-container {
		.cip-products {
			.cip-cartProductCard {
				padding: initial;
				padding-bottom: 1rem;

				.cpc-firstContainer {
					width: 72%;
				}
				.cpc-secondContainer {
					width: 28%;
					justify-content: space-between;
					flex-direction: column;
					gap: 1.5rem 0;

					.cpc-quantity {
						gap: 1rem 0;
						align-self: flex-end;
						order: 2;

						p {
							display: none;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 780px) {
	.cps-cartInfo {
		gap: 1.5rem 0;

		.ci_address-container {
			padding: 1rem 0.5rem;
		}
	}
	.ci_products-container {
		padding: 1rem 0.5rem;
		.cip-products {
			.cip-cartProductCard {
				.cpc-firstContainer {
					width: 75%;
				}
				.cpc-secondContainer {
					width: 25%;
				}
			}
		}
	}
}
@media (max-width: 650px) {
	.ci_products-container {
		.cip-title {
			div {
				p {
					font-size: 1.1rem;
				}
			}

			button {
				height: 1.5rem;
				font-size: 0.7rem;
			}
		}

		.cip-products {
			.cip-cartProductCard {
				flex-direction: column;
				gap: 1.5rem 0;
				padding-bottom: 1.5rem;

				.cpc-firstContainer {
					gap: 0 1rem;
					width: initial;

					img {
						width: 6rem;
						height: 6rem;
					}
				}

				.cpc-secondContainer {
					width: initial;
					align-self: initial;
					padding: initial;
					align-self: flex-start;
					gap: 1.5rem 0;

					.cpc-quantity {
						flex-direction: row;
						justify-content: space-between;
						width: 95vw;
					}

					.cpc-endPrice {
						align-items: flex-start;
					}
				}

				.cpc-mobilePriceContainer {
					display: flex;
					flex-direction: column;
					gap: 0.5rem 0;
					font-size: 0.85rem;
				}
			}
		}
	}

	.cps-cartInfo {
		.ci_address-container {
			.ci_address-title {
				p {
					font-size: 1.1rem;
				}

				svg {
					width: 1rem;
					height: 1rem;
				}
			}

			.ci_address-card {
				padding: 0.8rem;
				gap: 1.5rem 0;

				.address-card-fc {
					p {
						font-size: 0.8rem;
					}
				}

				.address-card-sc {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-self: flex-start;

					button {
						font-size: 0.7rem;
					}
				}
			}
		}
	}

	.mobileResume {
		.mr-title {
			div {
				font-size: 0.85rem;
			}
		}

		.mr-content {
			flex-direction: column;
			justify-content: initial;
			gap: 1.5rem 0;

			.mrc-prices {
				width: 100%;
			}

			.mrc-finalPrice {
				width: 100%;

				div {
					width: 100%;
					height: 100%;
					padding: 1rem 0;
				}
			}
		}
	}
}
