.descriptionSection {
	display: flex;
	justify-content: center;
	background-color: white;
	min-height: 15rem;
	height: auto;
	color: rgb(86, 92, 105);
}

.descriptionContainer {
	display: flex;
	flex-direction: column;
	padding: 0rem 0 2.5rem 0;
	width: 81vw;

	.dc-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 0 1.5rem 0;

		div {
			display: flex;
			align-items: center;
			gap: 0 0.3rem;
			font-size: 1.5rem;
			text-transform: uppercase;
			font-weight: bold;
			color: black;
		}

		svg {
			width: 1.5rem;
			height: 1.5rem;
			transition: 0.3s ease-in-out;
			fill: #ff6500;
		}
	}
}

.descriptionArray {
	display: flex;
	flex-direction: column;
}

.descriptionCard {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;

	h2 {
		margin-bottom: 0.5rem;
	}

	p {
		line-height: 1.3;
	}
}

@media (max-width: 1600px) {
	.descriptionContainer {
		width: 95vw;
	}
}

@media (max-width: 1450px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1025px) {
}

@media (max-width: 900px) {
	.descriptionContainer {
		padding: 2rem 0.5rem 0 0.5rem;
	}
}
@media (max-width: 600px) {
	.descriptionContainer {
		padding: 1rem 0.8rem 0 0.8rem;
		.dc-title {
			padding: 1rem 0;
			svg {
				width: 1.5rem;
				height: 1.5rem;
			}
		}
		div {
			h1 {
				font-size: 1.3rem;
			}
		}
	}
}

@media (max-width: 400px) {
}
