@import '../HomePage/MainCarousel/MainCarousel.scss';

.homePage-Section {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 200vh;
}

.homePage-Container {
	display: flex;
	flex-direction: column;
	width: 85%;
	background-color: #fafafb;
}

.hp-banners {
	height: 25rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	width: 85%;

	.hp-bannerNext {
		display: flex;
		align-items: center;
		border-radius: 50%;
		width: 2.5rem;
		height: 2.5rem;
		outline: none;
		background-color: white;
		border: none;
		cursor: pointer;
		position: relative;
		width: 2rem;
		left: 2%;
		height: 2rem;
		top: 50%;
		transform: translateY(-50%);

		svg {
			width: 2rem;
			height: 2rem;
		}
	}

	.hp-bannerPrevious {
		display: flex;
		align-items: center;
		border-radius: 50%;
		width: 2.5rem;
		height: 2.5rem;
		outline: none;
		background-color: white;
		border: none;
		cursor: pointer;
		position: relative;
		right: -96%;
		top: 50%;
		transform: translateY(-150%);
		width: 2rem;
		height: 2rem;

		svg {
			width: 2rem;
			height: 2rem;
		}
	}
}

@media (max-width: 1600px) {
	.homePage-Container {
		width: 95vw;
	}

	.hp-banners {
		width: 95vw;
	}
}
@media (max-width: 1200px) {
	.homePage-Container {
		width: 100%;
	}

	.hp-banners {
		height: 20rem;
		background-size: cover;
		width: 100%;
	}
}
@media (max-width: 1025px) {
	.hp-banners {
		height: 17rem;
	}
}
@media (max-width: 900px) {
	.hp-banners {
		height: 13.5rem;

		button {
			display: none;
		}
		.hp-bannerNext {
			display: none;
		}
		.hp-bannerPrevious {
			display: none;
		}
	}
}
@media (max-width: 850px) {
	.hp-banners {
		height: 12.5rem;
	}
}
@media (max-width: 600px) {
	.hp-banners {
		height: 8rem;
	}
}

@media (max-width: 420px) {
	.hp-banners {
		height: 6.8rem;
	}
}
@media (max-width: 400px) {
	.hp-banners {
		height: 6rem;
	}
}
