@import '../HomePage/CarouselProduct/CarouselProduct.scss';
@import '../HomePage/DepartmentsSection/DepartmentsSection.scss';

.homePage-Section {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 200vh;
	transition: 0.1s ease-in-out;
}

.homePage-Container {
	display: flex;
	flex-direction: column;
	width: 85%;
	background-color: #fafafb;
	padding-bottom: 2rem;
}

.hp-banners {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	transition: 0.5 ease-in-out;

	div {
	}

	img {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}

	.hp-bannerNext {
		display: flex;
		align-items: center;
		border-radius: 50%;
		width: 2.5rem;
		height: 2.5rem;
		outline: none;
		background-color: white;
		border: none;
		cursor: pointer;
		position: relative;
		width: 2rem;
		left: 5%;
		top: 50%;
		height: 2rem;
		transform: translateY(-50%);

		svg {
			width: 2rem;
			height: 2rem;
		}
	}

	.hp-bannerPrevious {
		display: flex;
		align-items: center;
		border-radius: 50%;
		width: 2.5rem;
		height: 2.5rem;
		outline: none;
		background-color: white;
		border: none;
		cursor: pointer;
		position: relative;
		left: -5%;
		top: 50%;
		transform: translateY(-50%);
		width: 2rem;
		height: 2rem;

		svg {
			width: 2rem;
			height: 2rem;
		}
	}
}

.mini-banners {
	display: flex;
	justify-content: center;
	gap: 0 2rem;
	cursor: pointer;
}

@media (max-width: 1600px) {
	.homePage-Container {
		width: 95vw;
	}

	.hp-banners {
		width: 95vw;
	}

	.mini-banners {
		width: 95vw;

		img {
			width: 45.75%;
		}
	}
}
@media (max-width: 1440px) {
	.mini-banners {
		img {
			object-fit: contain;
		}
	}
}
@media (max-width: 1200px) {
	.homePage-Container {
		width: 100%;
	}

	.hp-banners {
		height: 20rem;
		background-size: cover;
		width: 100%;
	}

	.mini-banners {
		width: 100%;
		img {
			object-fit: contain;
		}
	}
}
@media (max-width: 1025px) {
	.hp-banners {
		height: 17rem;
	}
}
@media (max-width: 900px) {
	.hp-banners {
		height: 13.5rem;

		button {
			display: none;
		}
		.hp-bannerNext {
			display: none;
		}
		.hp-bannerPrevious {
			display: none;
		}
	}

	.mini-banners {
		gap: 0 1rem;
	}
}
@media (max-width: 850px) {
	.hp-banners {
		height: 12.5rem;
	}
}
@media (max-width: 600px) {
	.hp-banners {
		height: 8rem;
	}

	.mini-banners {
		align-items: center;
		flex-direction: column;
		gap: 1.5rem 0;
		padding: 0rem 0 2rem 0;

		img {
			width: auto;
			padding: 0 1rem;
		}
	}
}

@media (max-width: 420px) {
	.hp-banners {
		height: 6.8rem;
	}
}
@media (max-width: 400px) {
	.hp-banners {
		height: 6rem;
	}
}
